<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Font Link-->
  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market|Roboto" rel="stylesheet">

  <!--CSS Link-->
  <link href="style.css" rel="stylesheet">

  <!--Bootstrap4 Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

  <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav justify-content-end" id="menu">
      <li>Black Beard Traiting</li>
      <hr>
      <li class="menuItem">Items</li>
      <li class="menuItem"><a href="/items">My Items</a></li>
      <li class="menuItem"><a href="/newitems">Create a new item</a></li>
      <li class="menuItem">Logged in as {{pirate.displayName}}</li>
      <li class="menuItem"><a href="/logout">Log out</a></li>
    </ul>
  </nav>

  <!--Content Container-->
  <div class="container-fluid">
    <div id="wrapper-homepage">
      <br>

      <!--Heading with Brief Instructions-->
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4" style="font-family: 'Chelsea Market', cursive;">Available Booty!</h1>
          <p>Browse through the items below and see what treasure awaits! Click "interest" button to propose a trade. </p>
        </div>
      </div>

      <hr> {{#trades}}

      <!--Div created for each item that is added to the database-->
      <div class="message">
        <p>
          <form action="/interest/{{id}}" method="post">
            <div class="line-1">
              <span><strong>{{author.displayname}}</strong>: </span>
              <span class="middle">{{item}}</span>
              <input type="submit" class="btn-interest btn" value="interest">
            </div>
          </form>
          {{createdAt}}
          <br> {{#commit.length}}
          <a href="items{{id}}">{{commit.length}} interest</a> {{/commit.length}} {{^commit.length}} No Interest yet. {{/commit.length}}
          <br>
        </p>
      </div>
      <br> {{/trades}}
    </div>
</body>

<!--Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>
