<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul id="menu">
        <li class="menuItem"><a href="/">Interest</a></li>
        <li class="menuItem"><a href="/myitems">My Items</a></li>
        <li class="menuItem"><a href="/createitem">Create a new item</a></li>
        <li class="menuItem">Logged in as {{user.displayName}}</li>
        <li class="menuItem"><a href="/logout">Log out</a></li>
      </ul>
    </nav>
    <div id="wrapper-likes">
      {{#messages}}
      <div class="message">
        <p>
          <strong>{{author.displayname}}</strong>:  {{item}}
          <br><br>
          {{createdAt}} 
          <br>
          <h1>Liked by</h1>
          {{#interest}}
            {{user.displayname}}<br>
          {{/interest}}
        </p>
        </div>
      {{/messages}}
    </div>
  </body>
</html>