<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Font Link-->
  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market|Roboto" rel="stylesheet">

  <!--CSS Link-->
  <link href="style.css" rel="stylesheet">

  <!--Bootstrap4 Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

  <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav justify-content-end" id="menu">
      <li>Black Beard Traiting</li>
      <hr>
      <li class="menuItem">Items</li>
      <li class="menuItem">My Items</li>
      <li class="menuItem">Create a new item</li>
      <li class="menuItem"><a href="login">Log in</a></li>
      <li class="menuItem">Sign up</li>
    </ul>
  </nav>

  <!--Content Container-->
  <div class="container-fluid">
    <div id="wrapper-signup">
      <br>

      <!--Heading with Brief Instructions-->
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4" style="font-family: 'Chelsea Market', cursive;">Join the Crew</h1>
          <p>Ahoy there, matey! Please fill out the form below to join the crew and start trading!</p>
        </div>
      </div>
      <hr>

      <!--Sign Up Form-->
      <div class="row signUpForm">
        <div class="col-md-12">

          <form action="/signup" method="post">

            <!--Pirate Name Input Field and Label-->
            <label for="piratename">Piratename</label><br>
            <input type="text" name="piratename" value="{{data.piratename}}" required autofocus><br>
            <br>

            <!--Password Input Field and Label-->
            <label for="password1">Password</label><br>
            <input type="password" name="password" value="{{data.password}}" required><br>
            <br>

            <!--Password Confirmation Input Field and Label-->
            <label for="passwordConfirm">Password Confirmation</label><br>
            <input type="password" name="passwordConfirm" value="{{data.passwordConfirm}}" required><br>
            <br>

            <!--Display Name Input Field and Label-->
            <label for="displayName">Display name</label><br>
            <input type="text" name="displayName" value="{{data.displayName}}" required><br>
            <br>

            <!--Sign Up Button-->
            <input class="btn" type="submit" name="signup" value="Sign up">
            <br><br>

          </form>

          {{#errors}}
          <div class="error">
            {{msg}} <br>
          </div>
          {{/errors}}

        </div>
      </div>

    </div>
  </div>

</body>

<!--Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>
